<h1>Billboards#show</h1>

<h1> <%= @billboard.name %> </h1>
<%= link_to "Add Artist", new_billboard_artist_path(@billboard)%>
<%= link_to "Back", billboards_path%>
<% @artists.each do |artist| %>
<h3> <%= artist.name %> </h3>
<%# <% end %> 

<%= link_to "Delete Artist", billboard_path(@billboard), method: :delete %>

<% end %>
